* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: goldenrod;
  color: #222;
  border-radius: 0;
  border-bottom: 10px solid #222;
  padding: 40px 20px 20px 20px;
  font-size: 42px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #222;
  /* border-left: 1px solid black; */
  padding: 10px;
  height: 100%;
  width: 100%;
}

textarea:focus {
 background-color: rgb(0, 0, 0, 0.1);
}

.rowBlock {
  line-height: 1.5;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: goldenrod;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 2;
  border-right: 1px solid white;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  border-left: 1px solid white;
  background-color: #06AED5;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.saveBtn:hover {
  font-size: 28px;
  transition: all .2s ease-in-out;
}

.col-9 {
  padding: 0;
}

.container {
  margin-bottom: 60px;
}

#currentDay {
  font-weight: bold;
  font-size: 24px;
  color: #f5f5f5;
}